.exhibitList {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}

.exhibit {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  width: 90%;
  height: 200px;
  /* transition: 0.3s; */
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px auto 10px auto;
  border: 1px black solid;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.exhibit__header {
  width: 12vw;
}

.exhibit__description {
  width: 40vw;
}

.exhibit__type {
  width: 10vw;
}

img {
  width: 200px;
  height: 200px;
  /* float: left; */
  padding: 0 10px 0 10px;
}

.exhibit__button_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}
.content__edit {
  height: auto;
  width: 8vw;
  padding: 10px;
  color: black;
  border: 1px black solid;
  border-radius: 10px;
  background-color: burlywood;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
}

.content__delete {
  height: auto;
  width: 8vw;
  padding: 10px;
  color: wheat;
  border: 1px black solid;
  border-radius: 10px;
  background-color: red;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
}

/* .button {
  height: 30px;
  background-color: blue;
} */

/* .deleteButton {
  height: auto;
  width: 5vw;
  background-color: red;
} */
