.comments {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
}

.comment-card {
    text-align: center;
    width: 300px;
    padding: 0.5rem;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

.comment-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.comment-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

.comment-input {
    width: 300px;
}